@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task List Keeper</h1>
    <p class="lead">Task List Keeper is the internet's forerunner app for keeping track of everything you ever need to do!</p>

    <p><a href="~/Users/Create" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    <p><a href="~/Users/Index" class="btn btn-primary" btn-lg">Login &raquo;</a></p>
</div>

<div>
    <h2>List User Tasks</h2>
    <p><a href="~/Tasks/Index" class="btn btn-primary btn-lg">Get Tasks</a></p>
</div>